
<hr>
<form [formGroup]="eventdataForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="eventType">Event Type</label>
        <select id = "eventType">
            <option value="conference">Conference</option>
            <option value="inductionProgram">Induction Program</option>
            <option value="productLaunch">Product Launch</option>
            <option value="tradeShow">Trade Show</option>
            <option value="appreciationCeremony">Appreciation Ceremony</option>
            <option value="teamBuildingActivity">Team-building Activity</option>
        </select>
    </div>

    <div>
        <label for="eventDescription">Event Description</label>
        <textarea id="eventDescription" name="eventDescription" type="text"></textarea>
    </div>

    <div>
        <label for="participantsCount">Participant Count</label>
        <input id="participantsCount" name="participantsCount" >
    </div>

    <div>
        <label for="eventCharges">Event Charges</label>
        <input id="eventCharges" name="eventCharges" type="text">
    </div>
    
    <button type="submit">Submit</button>
</form>
    
