<!-- <p>deleteevent works!</p> -->

<h2>Delete Event</h2>
<hr>
<form (ngSubmit)="onSubmit(editeventdata)" #editeventform="ngForm" >
    <div>
        <label for="eventId">Event ID</label>
        <input type="text" id="eventId" name="eventId" readonly [(ngModel)]="editeventdata.eventId">
    </div>

    <div>
        <label for="eventType">Event Type</label>
        <select id = "eventType" readonly [(ngModel)]="eventdata.eventType">
            <!-- <option value="1">Conference</option>
            <option value="2">Induction Program</option>
            <option value="3">Product Launch</option>
            <option value="4">Trade Show</option>
            <option value="5">Appreciation Ceremony</option>
            <option value="6">Team-building Activity</option> -->
        </select>
    </div>

    <div>
        <label for="eventDescription">Event Description</label>
        <textarea id="eventDescription" name="eventDescription" type="text" readonly [(ngModel)]="editeventdata.eventDescription"></textarea>
    </div>

    <div>
        <label for="participantsCount">Participant Count</label>
        <input id="participantsCount" name="participantsCount" type="text" placeholder="Enter participants Count" [(ngModel)]="editeventdata.participantsCount" readonly >
    </div>

    <div>
        <label for="eventCharges">Event Charges</label>
        <input id="eventCharges" name="eventCharges" type="text" readonly [(ngModel)]="editeventdata.eventCharges" >
    </div>
    
   
    <p>
        <button type="submit">Delete</button>
    </p>
</form>