<!-- <p>deleteevent works!</p>

<h2>Delete Event</h2>
<hr>

    <div>
        <label for="id">Event ID</label>
        <input type="text" id="id" name="id" readonly [(ngModel)]="eventdata.id">
    </div>

    <div>
        <label for="eventType">Event Type</label>
        <select id = "eventType" readonly [(ngModel)]="eventdata.eventType">
            <!-- <option value="1">Conference</option>
            <option value="2">Induction Program</option>
            <option value="3">Product Launch</option>
            <option value="4">Trade Show</option>
            <option value="5">Appreciation Ceremony</option>
            <option value="6">Team-building Activity</option> -->
        <!-- </select>
angularapp/src/app/Admin/deleteevent/deleteevent.component.ts    </div>

    <div>
        <label for="eventDescription">Event Description</label>
        <textarea id="eventDescription" name="eventDescription" type="text" readonly [(ngModel)]="eventdata.eventDescription"></textarea>
    </div>

    <div>
        <label for="participantsCount">Participant Count</label>
        <input id="participantsCount" name="participantsCount" type="text" placeholder="Enter participants Count" [(ngModel)]="eventdata.participantsCount" readonly >
    </div>

    <div>
        <label for="eventCharges">Event Charges</label>
        <input id="eventCharges" name="eventCharges" type="text" readonly [(ngModel)]="eventdata.eventCharges" >
    </div> 
    
   
    <p>
        <button type="submit">Delete</button>
    </p> -->
<div>  
    <button (click)="showAlert()">Delete Booking</button>  
    <p *ngIf="isDelete">Booking deleted successfully!</p>
</div> 