<!-- <p>listevents works!</p> -->

<div class = "container">
    <div class = "jumbotron">
        <h1>Event Listing</h1>
        <table class = "table">
            <thead>
                <th>Id</th>
                <th>Event Type</th>
                <th>Event Description</th>
                <th>Participant Count</th>
                <th>Event Charges</th>
                <th>
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor = "let m of eventdata">
                    <td> {{m.eventId}} </td>
                    <td> {{m.eventType}} </td>
                    <td> {{m.eventDescription}} </td>
                    <td> {{m.participantsCount}} </td>
                    <td> {{m.eventCharges}} </td>
                    <td>
                        <a [routerLink] = "['/updateevent/', m.eventId]">Edit</a>&nbsp;&nbsp;
                    </td>
                    <td>
                        <a [routerLink] = "['/deleteevent/',m.id]">Delete</a>&nbsp;&nbsp;
                    </td>
                    
                </tr>
            </tbody>
        </table>

        
    </div>
</div>
