@model IEnumerable<Employee>

<h2>Employee Listing</h2>
<hr>

<a asp-controller = "Employee" asp-action="Create">Add Employee</a>

<table class = "table">
    <thead>
        <th>
            @Html.DisplayNameFor(e=>e.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(e=>e.Name)
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(e=>e.Id)</td>
                <td>@Html.DisplayNameFor(e=>e.Name)</td>
                <td>
                    <a asp-controller = "Employee" asp-action = "Display" asp-route-id = item.Id ></a>
                </td>
            </tr>
        }
    </tbody>

    
</table>