*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.body{
    background-color: #f0f0f0;
}
.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

}
.card{
    width:325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card-content{
    padding: 16px;

}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content blue-button{
    display:inline-block;
    padding: 10px 20px;
    background-color:blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 16px;
    color: white;
}

.dropdown
{
   margin-left: 280px;
 
}
h1{
    margin-left: 50px;
    margin-top: 20px;
   
}